*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    height: 100vh;
    background: linear-gradient(to right,rgb(0, 0, 0),red);
}
.square{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin-left: 580px;
    margin-top: 100px;
}

.panel{
    height: 250px;
    width: 250px;
    background-color: lightgreen;
    cursor: pointer;
    border: 4px solid blue;
    transition: .3s linear;
    font-size: 80px;
    text-align: center;
    line-height: 250px;
    border-radius: 20px;
}
.panel:hover{
    background-color: gray;
    color: red;
}
.info{
    font-size: 100px;
    position: absolute;
    left: 50%;
    top: 3%;
    transform: translate(-40%,0%);
    animation: colorFull 5s linear infinite;
}
@keyframes colorFull {
    0%{color: yellow;}
    10%{color: orange;}
    20%{color: greenyellow;}
    40%{color: green;}
    60%{color: violet;}
    80%{color: turquoise;}
    100%{color: lime;}
}
.restart{
    position: absolute;
    top: 45%;
    left: 15%;
    width: 200px;
    height: 75px;
    cursor: pointer;
    font-size: 40px;
    border: 4px solid black;
    border-radius: 10px;
    background-color: yellow;
    transition: .2s linear;
}
.restart:hover{
    border: 4px solid yellow;
    background-color: black;
    color: white;
}
