*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    height: 100vh;
    background: linear-gradient(to right,rgb(0, 0, 0),red);
}
.square{
    border: 3px solid blue;
    position: absolute;
    width: 50vw;
    height: 78.5vh;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-60%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 5px;
}

.panel{
    height: 250px;
    width: 316px;
    background-color: gray;
    cursor: pointer;
    border: 2px solid blue;
    transition: .3s linear;
    font-size: 80px;
    text-align: center;
    line-height: 250px;
}
.panel:hover{
    background-color: white;
    color: red;
}
